p {
	color: black;
}

.wy-nav-content {
    max-width: 1000px ;
}


dl.field-list {
  display: flex;
  flex-wrap: wrap;
}

dl.field-list > dt {
  flex-basis: 100%;
  font-weight: bold;
  word-break: break-word;
}

dl.field-list > dd {
  flex-basis: 100%;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  dl.field-list > dt {
    flex-basis: 110px;
	margin: 0;
  }
  dl.field-list > dd {
    flex: 1 0 100%;
    max-width: 100%;
	margin: 0;
  }

}

.simple > dt {
	background-color: transparent !important;
	border-left: 0px !important;
	color: black !important;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

dt.field-odd, dt.field-even {
  background-color: #F0F7FA !important;
  padding-left: 0.5rem !important;
  padding-right: 1rem;
  
}

.field-odd, .field-even {
  margin-top: 0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  box-sizing: border-box;
}


.xref.py.py-obj.docutils.literal.notranslate {
	background-color: transparent;
	border: 0px;
	padding: 0px;
	margin: 0px;
	font-weight: bold;
	color: #6495ED;
	font-size: 1.0em;
	
}



.py.method > dt {
	border-left-color: #DC143C !important;
	width: 100%;
	
}

.py.class > dt {
	border-top-color: #DC143C !important;
	background-color: #f0f0f0 !important;
	font-size: 1.0rem !important;
	width: 100%;
}

.py.function > dt {
	border-top-color: #DC143C !important;
	background-color: #f0f0f0 !important;
	font-size: 1.0rem !important;
	width: 100%;
}

h1 {
	border-radius: 25px;
	background-color: #e7f2fa;
	text-align: center;
	padding: 10px;
}

h2 {
	border-radius: 10px;
	background-color: #eeeeee;
	padding: 10px;
	font-size: 1.25rem;
}

dd {
	padding-left: 0.25rem;

}

.label {
	background-color: transparent !important;
	border: 0px !important;
	padding: 0px !important;
	margin: 0px !important;
	font-size: 0 !important;
}


.classifier {
	font-style: italic;	
}

.toctree-expand{
	display:none !important;
}

.wy-menu-vertical li ul {
 margin-left:0.5rem;
 margin-bottom:0;
 display:block
}

div.highlight-python.notranslate span.mi{color:#2d962d !important;}

div.highlight-python.notranslate span.mf{color:#2d962d !important;}

div.highlight-python.notranslate span.o{color: #AA22FF !important;
		font-weight: bold !important;}
div.highlight-python.notranslate span.ow{
    color: #008000 !important;
    font-weight: bold !important;
}


.py.method a.reference.external {display: none !important}