# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.5, 3.6, 3.7]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint pytest pytest-cov codecov
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Install adapt
      run: |
        pip install -e .
    - name: Lint with pylint
      run: |
        pylint adapt tests || exit 0
    - name: Test with pytest
      run: |
        pytest --cov=adapt
    - name: Upload codecov
      run: |
        codecov
